/* 0.通用样式 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  
  
  
  /* 1.背景样式 */ 
  /* 作为单独组件引入，因此可以将该样式注释 */
  /* .bg_img {
    position: absolute;
    width: 100vw;
    height: 50000px;
    z-index: -1000;
  }
  
  .bg_img .bg_longimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50000px;
    background-image: url("/src/assets/images/bg_mainbg01.jpg");
    background-size: contain;
    background-repeat: repeat-y;
    z-index: -999;
  }
  
  .bg_img .bg_grayimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50000px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -998;
  }
  
  .bg_img .bg_pointimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50000px;
    background-image: url("/src/assets/images/whitepoint.png");
    opacity: 0.15;
    z-index: -997;
  } */
  
  
  
  
  
  
  /* 2.Top图样式 */
  .top_img {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    
  }
  /* 2.1 Top-left图样式 */
  .top_img .top_img_left {
    position: absolute;
    top: 0;
    left: calc(0.1 * (100vw - 104.96vh));
    width: calc(100vw - 104.96vh);
    height: 100vh;
    background-image: url("/src/assets/images/ttl_logo01_sp.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(0.8 * (100vw - 104.96vh));
    z-index: 100;
  }
  /* 2.2 Top-right图样式 */
  .top_img .top_img_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 104.96vh;
    height: 100vh;
    background-image: url("/src/assets/images/bg_hero00.png");
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /*3.b_story/character/staff/cast样式*/
  
  
  
  
  

  /*4.a_story/character/staff/cast样式*/

  /* 4.1 story整体样式 */

  .a_story{
    width: 100vw;
  }
  /* 4.1.1 story title样式 */

  .a_st_title {
    width: 100%;
    padding: 10% 0 10%;
    background-color: rgba(128,0,128,0.5);
  }

  .a_t_img{
    width: 100%;
    padding-top: 11%;
    background-image: url("/src/assets/images/story.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
  }


























  /* 4.2characters总体样式 */

  .a_characters{
    width: 100vw;
    overflow: hidden;
    /* background-color: rgb(177, 115, 126); */
  }


  /* 4.2.1 title样式 */
  .a_charas_title{
    width: 100%;
    padding: 8% 0 8%;
    background-color: purple;
  }

  .a_c_img{
    width: 100%;
    padding-top:12%;
    background-image: url("/src/assets/images/characters.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }




























  /* 4.2.4 cast部分样式 */
  .a_cast{
    width: 100vw;
  }

  .acast_title{
    width: 100%;
    padding: 8% 0 6% ;
    /* background-color: aqua; */
  }

  /* cast title部分样式 */
  .title_cast{
    width: 100%;
    padding-top: 11%;
    background-image: url("/src/assets/images/cast.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  /* cast body样式部分 */
  .acast_body{
    width: 100%;
    height: 36vw;
    /* background-color: rgb(128,12,42); */
    font-family: 'notoserif', serif, sans-serif;
    color: #fff;
  }

  .acast_body span{
    display: inline-block;
  }

  .acastbody_row1{
    position: relative;
    flex-direction: column;
    /* background-color: #fff; */
  }

  .acastbody_row2{
    flex-direction: column;
    /* background-color: rgb(25, 15, 15); */
  }

  .acast_name11{
    position: absolute;
    left: -2vw;
    top: 0vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name12{
    position: absolute;
    left: -2vw;
    top: 6vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name13{
    position: absolute;
    left: -2vw;
    top: 12vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name14{
    position: absolute;
    left: -2vw;
    top: 18vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name15{
    position: absolute;
    left: -2vw;
    top: 24vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  /* 预留空位 */
  /* .acast_name16{
    position: absolute;
    left: -2vw;
    top: 30vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  } */


  .acast_name21{
    position: absolute;
    left: 0vw;
    top: 0vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name22{
    position: absolute;
    left: -1vw;
    top: 6vw;
    width: 106%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name23{
    position: absolute;
    left: 0vw;
    top: 12vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name24{
    position: absolute;
    left: 0vw;
    top: 18vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name25{
    position: absolute;
    left: 0vw;
    top: 24vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  /* 预留空位 */
  /* .acast_name26{
    position: absolute;
    left: 0vw;
    top: 30vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  } */




  .acastname11_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname11_mid{
    font-size: 3vw;
  }
  .acastname11_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }




  .acastname12_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname12_mid{
    font-size: 3vw;
  }
  .acastname12_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }



  
  .acastname13_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname13_mid{
    font-size: 3vw;
  }
  .acastname13_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }




  .acastname14_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname14_mid{
    font-size: 3vw;
  }
  .acastname14_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }




  .acastname15_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname15_mid{
    font-size: 3vw;
  }
  .acastname15_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }


  /* 预留空位 */
  /* .acastname16_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname16_mid{
    font-size: 3vw;
  }
  .acastname16_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  } */



  .acastname21_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname21_mid{
    font-size: 3vw;
  }
  .acastname21_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  } 
  
  
  
  
  .acastname22_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname22_mid{
    font-size: 3vw;
  }
  .acastname22_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }




  .acastname23_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname23_mid{
    font-size: 3vw;
  }
  .acastname23_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  } 




  .acastname24_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname24_mid{
    font-size: 3vw;
  }
  .acastname24_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  } 
  



  .acastname25_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname25_mid{
    font-size: 3vw;
  }
  .acastname25_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  } 
  
  

  /* 预留空位 */
  /* .acastname26_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname26_mid{
    font-size: 3vw;
  }
  .acastname26_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }  */
  
  







  /* 4.2.5 staff部分样式 */
  .a_staff{
    width: 100vw;
  }

  .astaff_title{
    width: 100%;
    padding: 8% 0 6% ;
    /* background-color: aqua; */
  }

  /* staff title部分样式 */
  .title_staff{
    width: 100%;
    padding-top: 11%;
    background-image: url("/src/assets/images/staff.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  /* staff body样式部分 */
  .astaff_body{
    width: 100%;
    height: 75vw;
    /* background-color: rgb(128,12,42); */
    font-family: 'notoserif', serif, sans-serif;
    color: #fff;
  }


  .astaffbody_row1{
    position: relative;
    flex-direction: column;
    /* background-color: rgb(7, 184, 116); */
  }

  .astaffbody_row2{
    flex-direction: column;
    /* background-color: rgb(25, 15, 15); */
  }




  .astaff_name11{
    position: absolute;
    left: -11vw;
    top: 0vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name12{
    position: absolute;
    left: -11vw;
    top: 6vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name13{
    position: absolute;
    left: -11vw;
    top: 12vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name14{
    position: absolute;
    left: -11vw;
    top: 18vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name15{
    position: absolute;
    left: -11vw;
    top: 24vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name16{
    position: absolute;
    left: -11vw;
    top: 30vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name17{
    position: absolute;
    left: -11vw;
    top: 36vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name18{
    position: absolute;
    left: -11vw;
    top: 42vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name19{
    position: absolute;
    left: -11vw;
    top: 48vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }
  /* 保留空位 */
  /* .astaff_name110{
    position: absolute;
    left: -11vw;
    top: 54vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  } */

  .astaff_name111{
    position: absolute;
    left: -11vw;
    top: 60vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }






  .astaff_name21{
    position: absolute;
    left: -7.5vw;
    top: 0vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name22{
    position: absolute;
    left: -7.5vw;
    top: 6vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name23{
    position: absolute;
    left: -7.5vw;
    top: 12vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name24{
    position: absolute;
    left: -7.5vw;
    top: 18vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name25{
    position: absolute;
    left: -7.5vw;
    top: 24vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name26{
    position: absolute;
    left: -7.5vw;
    top: 30vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name27{
    position: absolute;
    left: -7.5vw;
    top: 36vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name28{
    position: absolute;
    left: -7.5vw;
    top: 42vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name29{
    position: absolute;
    left: -7.5vw;
    top: 48vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }
  /* 保留空位 */
  /* .astaff_name210{
    position: absolute;
    left: -7.5vw;
    top: 54vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  } */

  .astaff_name211{
    position: absolute;
    left: -7.5vw;
    top: 60vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }








  .astaffname11_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname11_mid{
    font-size: 3vw;
  }
  .astaffname11_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname12_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname12_mid{
    font-size: 3vw;
  }
  .astaffname12_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }



  
  .astaffname13_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname13_mid{
    font-size: 3vw;
  }
  .astaffname13_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname14_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname14_mid{
    font-size: 3vw;
  }
  .astaffname14_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname15_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname15_mid{
    font-size: 3vw;
  }
  .astaffname15_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }


  .astaffname16_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname16_mid{
    font-size: 3vw;
  }
  .astaffname16_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname17_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname17_mid{
    font-size: 3vw;
  }
  .astaffname17_right{
    position: absolute;
    left: 51%;
    top: 15%;
    font-size: 1.5vw;
    margin-left: 0.5vw;
  }



  .astaffname18_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname18_mid{
    font-size: 3vw;
  }
  .astaffname18_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname19_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname19_mid{
    font-size: 3vw;
  }
  .astaffname19_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }



  /* 保留空位 */
  /* .astaffname110_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname110_mid{
    font-size: 3vw;
  }
  .astaffname110_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  } */





  .astaffname111_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname111_mid{
    font-size: 3vw;
  }
  .astaffname111_right{
    position: absolute;
    left: 51%;
    top: 12%;
    font-size: 1.5vw;
    margin-left: 0.5vw;
  }




  





  .astaffname21_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname21_mid{
    font-size: 3vw;
  }
  .astaffname21_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname22_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname22_mid{
    font-size: 3vw;
  }
  .astaffname22_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }



  
  .astaffname23_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname23_mid{
    font-size: 3vw;
  }
  .astaffname23_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname24_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname24_mid{
    font-size: 3vw;
  }
  .astaffname24_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname25_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname25_mid{
    font-size: 3vw;
  }
  .astaffname25_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }


  .astaffname26_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname26_mid{
    font-size: 3vw;
  }
  .astaffname26_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname27_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname27_mid{
    font-size: 3vw;
  }
  .astaffname27_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }



  .astaffname28_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname28_mid{
    font-size: 3vw;
  }
  .astaffname28_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname29_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname29_mid{
    font-size: 3vw;
  }
  .astaffname29_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }



  /* 保留空位 */
  /* .astaffname210_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname210_mid{
    font-size: 3vw;
  }
  .astaffname210_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  } */





  .astaffname211_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname211_mid{
    font-size: 3vw;
  }
  .astaffname211_right{
    position: absolute;
    left: 51%;
    top: 12%;
    font-size: 1.5vw;
    margin-left: 0.5vw;
  }




















  /* 5 product样式 */
  .product{
    width: 100vw;
  }

  .product_title{
    width: 100%;
    padding: 8% 0 6% ;
    /* background-color: aqua; */
  }

  /* 5.1 product title部分样式 */
  .title_product{
    width: 100%;
    padding-top: 11%;
    background-image: url("/src/assets/images/product.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  /* 5.2 product body样式部分 */
  .product_body{
    width: 100%;
    height: 25vw;
    background-color: rgb(128,12,42);
    font-family: 'notoserif', serif, sans-serif;
    color: #fff;
  }

  .product1{
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .product2{
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .product3{
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .product_body a{
    text-decoration: none;
    outline: none;
    color: #fff;
  }
  
  div[class^='product_']{
    position:absolute;
    top:3vw;
    left: 2vw;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: 16vw;
    height: 16vw;
    border: 0.1vw solid #fff;
    border-radius: 50%;
    font-size: 2vw;
    transition: all 1s;
  }


  .product_BD:hover{
    transition: all 1s;
    transform: scale(1.25);
  }

  .product_CD:hover{
    transition: all 1s;
    transform: scale(1.25);
  }

  .product_GOODS:hover{
    transition: all 1s;
    transform: scale(1.25);
  }


  .product_body span{
    display: inline-block;
  }


  .productBD_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
  }

  .productBD_txt span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .productCD_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .productGOODS_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }











  /* 6.1 左侧三个btn样式 */
  .three_btn{
    position: fixed;
    width: 4vw;
    /* height: 29vh; */
    bottom: 50vh;
    left: 1vw;
    transform: translateY(50%);
    /* background-color: red; */
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 1000;
  }




  .top_btn{
    width: 100%;
    margin: 0.4vw;
    background-color: white;
    background-image: url("/src/assets/icons/无穷-透明黑色.png");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
    
  }
  .mid_btn{
    width: 100%;
    margin: 0.4vw;
    background-color: black;
    background-image: url("/src/assets/icons/菜单-透明白色.png");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
  }

  .bottom_btn{
    width: 100%;
    margin: 0.4vw;
    background-color: black;
    background-image: url("/src/assets/icons/双左-透明白色.png");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
  }




  /* 6.2 nav导航栏样式 */
  .nav{
    /* display: none; */
    position: fixed;
    width: 99vw;
    height: 4vw;
    bottom: calc(50vh - 2vw);
    /* transform: translateY(50%); */
    background-color: rgba(0, 0, 0, 1);
    z-index:1000;
  }

  .nav a{
    display: block;
    width: 100%;
    height: 100%;
  }





  .nav_top{
    background-image: url("/src/assets/images/top_nav.svg");
    background-repeat: no-repeat;
    background-size: 35% 40%;
    background-position: center;
  }

  .nav_top::after{
    display: none;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .nav_top:hover::after{
    display: block;
  }





  .nav_story{
    background-image: url("/src/assets/images/story_nav.svg");
    background-repeat: no-repeat;
    background-size:45% 40%;
    background-position: center;
  }

  .nav_story::after{
    display: none;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .nav_story:hover::after{
    display: block;
  }





  .nav_character{
    background-image: url("/src/assets/images/character_nav.svg");
    background-repeat: no-repeat;
    background-size: 65% 40%;
    background-position: 30% center;
  }

  .nav_character::after{
    display: none;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .nav_character:hover::after{
    display: block;
  }





  .nav_cast{
    background-image: url("/src/assets/images/cast_nav.svg");
    background-repeat: no-repeat;
    background-size: 90% 40%;
    background-position:  5% center;
  }

  .nav_cast::after{
    display: none;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .nav_cast:hover::after{
    display: block;
  }





  .nav_product{
    background-image: url("/src/assets/images/product_nav.svg");
    background-repeat: no-repeat;
    background-size: 55% 40%;
    background-position: 22% center;
  }

  .nav_product::after{
    display: none;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .nav_product:hover::after{
    display: block;
  }




  .nav_arrow img{
    position: absolute;
    left: 1.9vw;
    top:0.5vw;
    height: 75%;
  }










    /* 7 时钟切换样式 */
    .clock_change_box{
      position: fixed;
      left: 0vw;
      top: 0vw;
      width: 100vw;
      height: 100vh;
      z-index:99;
    }
    .clock_change{
      position: relative;
      width: 100vw;
      height: 100vh;
      background-color: rgb(254, 253, 253);
    }
  
    .clock_click{
      position: absolute;
      width: 100vw;
      top:50%;
      left: 0;
      z-index: 200;
      transform: translateY(-65%) scale(1.5);
    }
  
    .twinkle_noise{
      position: absolute;
      width: 100%;
      z-index: 199;
    }