/* 0.通用样式 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  
  
  
  /* 1.背景样式 */
  .bg_img {
    position: absolute;
    width: 100vw;
    height: 50000px;
    z-index: -1000;
  }
  
  .bg_img .bg_longimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50000px;
    background-image: url("/src/assets/images/bg_mainbg01.jpg");
    background-size: contain;
    background-repeat: repeat-y;
    z-index: -999;
  }
  
  .bg_img .bg_grayimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50000px;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: -998;
  }
  
  .bg_img .bg_pointimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50000px;
    background-image: url("/src/assets/images/whitepoint.png");
    opacity: 0.15;
    z-index: -997;
  }
  
  
  
  
  
  
  
  /* 2.Top图样式 */
  .top_img {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
  /* 2.1 Top-left图样式 */
  .top_img .top_img_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
    background-image: url("/src/assets/images/ttl_logo01_sp.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  /* 2.2 Top-right图样式 */
  .top_img .top_img_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    background-image: url("/src/assets/images/bg_hero00.png");
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  
  
  
  
  
  /*3.story/character/staff/cast样式*/
  .beta_timeline {
    width: 100vw;
    background-color: pink;
  }
  
  
  
  
  /* 3.1story整体样式 */

  .b_story{
      width: 100vw;
  }
  /* 3.1.1story title样式 */

  .b_st_title {
      width: 100%;
      padding: 10% 0 10%;
      background-color: rgba(128,0,128,0.5);
  }
  
  .b_t_img{
      width: 100%;
      padding-top: 11%;
      background-image: url("/src/assets/images/story.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }
  
  
  
  /* 3.1.2story body样式 */

  .b_st_body{
    position: relative;
    width: 100vw;
    padding-top: 85%;
    overflow: hidden;
  }

  /* 3.1.2.1story body text样式 */
  .body_text{
    width: 100%;
  }

  /* 3.1.2.2story body img样式 */
  .body_img{
    width: 180vw;
    position: absolute;
    bottom:24%;
    left:-70%;
    padding-top: 56%;
    transform:  rotate(-8deg);
    overflow: hidden;
  }
  
  .body_slideimg{
    position: absolute;
    width: 100vw;
    top:-11%;
    left: 41.6%;
    transform:rotate(8deg);
  }






  /* 3.1.2.3左、中、右分部分调整 */
  .leftimg{
    width: 100%;
    position: absolute;
    background-color: red;
    transition: all 0.8s;
  }

  .midimg{
    width: 100%;
    position: absolute;
    background-color: aqua;
    transition: all 0.8s;
  }

  .rightimg{
    position: absolute;
    background-color:orange;
    transition: all 0.8s;
  }


  .leftimg_moveup{
    width: 100%;
  }

  .leftimg_moveup img{
    width: 100%;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
  }



  .midimg_movedown{
    width: 100%;
    height:97.88vw;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
  .midimg_movedown img{
    display: block;
    width: 100%;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
  }



  .rightimg_moveup{
    width: 100%;
  }
  .rightimg_moveup>li>img{
    width: 100%;
    height: auto;
    padding-left: 1%;
    padding-right: 2%;
  }

  /* 3.1.2.1story body number样式 */
  .b_st_footer{
    position: absolute;
    width: 60vw;
    bottom: 11%;
    left: 39%;
  }

  .num_nav{
    width: 100%;
    font-size: 2em;
    text-align: center;
    /* line-height: 71px; */
    /* margin: 1%; */
  }

  #navItem01{
    background-image: url("/src/assets/icons/无穷-透明黑色.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .Item{
    margin: 0.3%;
    padding: 2px;
  }

  
  
  /* 3.2characters总体样式 */

  .b_characters{
    width: 100vw;
    background-color: rgb(177, 115, 126);
  }


  /* 3.2.1 title样式 */
  .b_charas_title{
    width: 100%;
    padding: 8% 0 8%;
    /* background-color: purple; */
  }

  .b_c_img{
    width: 100%;
    padding-top:12%;
    background-image: url("/src/assets/images/characters.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* 3.2.2 body样式 */
  .b_charas_body{
    position: relative;
    width: 100vw;
    height: 1200px;
    background-color:orange;
  }

  .charas_cut{
    position: absolute;
    left:-52%;
    top: 3%;
    padding-top: 46%;
    width: 180vw;
    transform: rotate(-10deg);
    background: aqua;
    overflow: hidden;
  }
  

  .charas_main{
    position: absolute;
    left: 31%;
    top: -15%;
    transform: rotate(10deg);
    width: 100vw;
  }

  /* 3.2.2.1 txt 样式 */



  /* 3.2.2.2 slide_img 样式 */
  .slide_img_whole{
    position: absolute;
    width: 100vw;
    z-index: 201;
  }

  .slide_img{
    display: flex;
    width: 100%;
    height: 49.616vw;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    transition: all 0.6s;
  }

  .slide_img img{
    width: 100%;
  }

  .slide_img_col{
    width: 100%;
    height: 49.616vw;
  }




  /* 3.2.2.3 float_img样式 */
  .float_img_whole{
    position: absolute;
    width: 100vw;
  }


    /*  float_bg_img样式 */
  .float_bg_img{
    position: relative;
    width: 100vw;
  }

  .float_bg_img img{
    position: absolute;
    width: 100%;
  }



    /* float_top_img 样式 */
  .float_top_img{
    position: relative;
    width: 100vw;
  }

  .float_top_img div{
    position: absolute;
    left: 15%;
    top: 10%;
    width: 100%;
    z-index: 100;
  }

  .float_top_img div img{
    position: absolute;
    width: 35%;
    top: 10vw;
    z-index: 100;
  }



  .float_top_img div[class$='_1']{
    z-index: 105;
  }

  .float_top_img div[class$='_2']{
    animation: move_left 1s  0.5s forwards;
    /* transform: translate(-12vw,2vw); */
    z-index: 104;
  }
  
  .float_top_img div[class$='_3']{
    animation: move_right 1s  0.5s forwards;
    /* transform: translate(7vw,-1vw); */
    z-index: 103;
  }

  @keyframes move_left {
    100% {
      transform: translate(-12vw,2vw);
    }
  }

  @keyframes move_right {
    100% {
      transform: translate(7vw,-1.5vw);
    }
  }


  /* 3.2.3 character_footer样式 */
  .charas_footer{
    position: absolute;
    width: 50vw;
    height:16vw;
    top:56vw;
    left: 15vw;
    background-color: red;
  }

  .charas_nav{
    position: relative;
    width: 100%;
    height: 100%;
  }

  .char_row1{
    width: 100%;
    height: 50%;
  }


  .char_row2{
    position: absolute;
    top:3vw;
    left: 25vw;
    width: 100%;
    height: 50%;
  }

  .charas_nav img{
    position: absolute;
    width: 100%;
  }

  .charas_nav img:hover{
    background-color: #fff;
  }



  .char_item01 img{
    top:0vw;
    left: 0vw;
  }
  .char_item02 img{
    top:-1.5vw;
    left:0.5vw;
  }
  .char_item03{
    top:-3vw;
    left:1vw;
  }
  .char_item04{
    top:-4.5vw;
    left:1.5vw;
  }
  .char_item05{
    top:-6vw;
    left:2vw;
  }
  .char_item06{
    top:-7.5vw;
    left:2.5vw;
  }
  .char_item07{
    top:-9vw;
    left:3vw;
  }
  .char_item08{
    top:-10.5vw;
    left:3.5vw;
  }
  .char_item09{
    top: 0vw;
    left: 0vw;
  }
  .char_item10{
    top: -1.5vw;
    left: 0.5vw;
  }
  .char_item11{
    top: -3vw;
    left: 1vw;
  }
  .char_item12{
    top:-4.5vw;
    left:1.5vw;
  }
  .char_item13{
    top:-6vw;
    left:2vw;
  }
  .char_item14{
    top:-7.5vw;
    left:2.5vw;
  }
  .char_item15{
    top:-9vw;
    left:3vw;
  }
  .char_item16{
    top:-10.5vw;
    left:3.5vw;
  }













  /* 3.3 左侧三个btn样式 */
  .three_btn{
    position: fixed;
    width: 4vw;
    /* height: 29vh; */
    bottom: 50vh;
    left: 1vw;
    transform: translateY(50%);
    background-color: red;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 1000;
  }


  .top_btn{
    width: 100%;
    margin: 1vh;
    background-color: white;
    background-image: url("/src/assets/icons/无穷-透明黑色.png");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
    
  }
  .mid_btn{
    width: 100%;
    margin: 1vh;
    background-color: black;
    background-image: url("/src/assets/icons/菜单-透明白色.png");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
  }

  .bottom_btn{
    width: 100%;
    margin: 1vh;
    background-color: black;
    background-image: url("/src/assets/icons/双左-透明白色.png");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
  }



  /* 3.4 nav导航栏样式 */
  .nav{
    display: none;
    position: fixed;
    width: 99vw;
    height: 9vh;
    bottom: 50vh;
    transform: translateY(50%);
    background-color: rgba(0, 0, 0, 1);
    z-index:1000;
  }

  .nav a{
    display: block;
    width: 100%;
    height: 100%;
  }

  .nav_top{
    background-image: url("/src/assets/images/top_nav.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
  }

  .nav_story{
    background-image: url("/src/assets/images/story_nav.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
  }

  .nav_character{
    background-image: url("/src/assets/images/character_nav.svg");
    background-repeat: no-repeat;
    background-size: 95% 62%;
    background-position: 100% center;
  }

  .nav_cast{
    background-image: url("/src/assets/images/cast_nav.png");
    background-repeat: no-repeat;
    background-size: 55% 73%;
    background-position:  50% center;
  }

  .nav_product{
    background-image: url("/src/assets/images/product_nav.svg");
    background-repeat: no-repeat;
    background-size: 70% 60%;
    background-position: 0% center;
  }






  /* 3.5 返回顶部按钮样式 */
  .btt_body{
    width: 3.7vw;
    height: 3.7vw;
    right: 1.2vw;
  }

  .btt_img{
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/icons/方框向上-透明白色.png");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position:center;
  }
