/* 0.通用样式 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'notoserif', serif, sans-serif;
}

.alpha_timeline {
    width: 100vw;
    /* background-color: pink; */
}


/* 4.1 story整体样式 */
.a_story{
    width: 100vw;
}
/* 4.1.1 story title样式 */
.a_st_title {
    width: 100%;
    padding: 10% 0 5%;
/* background-color: rgba(128,0,128,0.5); */
}

.a_t_img{
    width: 100%;
    padding-top: 11%;
    background-image: url("/src/assets/images/story.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}


/* 4.1.2.2story body img样式 */
.a_st_body{
    position: relative;
    width: 100vw;
    padding-top: 90%;
    overflow: hidden;
}

/* 3.1.2.1story body text样式 */
.body_text{
    position: absolute;
    top:-5vw;
    left: 0;
    width: 100vw; 
    height: 80vw;  
}

.textbody{
  position: relative;
  width: 100vw;
  height: 80vw;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

/* body里的每个部分 */
.textbody li{
  width: 100vw;
  list-style: none;
}

/* 文本旁的背景图 */
.textbody .txtsidebg {
  position: absolute;
  left: 10vw;
  bottom: 5vw;
  width: 2vw;
  z-index: 10;
  height: calc(80vw * 25);
  /* background-color: rgb(0, 0, 0); */
  background-image: url("/src/assets/images/storytxtbg.svg");
  background-repeat: repeat-y;
}

/* 文本区 */
div[class^='storytxt']{
  position: relative;
  width: 100%;
  height: 80vw;
}

/* 文本里的数字 */
.txtnum{
  position: absolute;
  left: 35vw;
  top: 55vw;
  width: auto;
  height: auto;
  /* background-color: rgb(0, 0, 0); */
  z-index: 10;
}

.txtnum img{
  width: 13vw;
}

/* 文本里的文字 */
.txtinside{
  position: absolute;
  top: 5vw;
  left: 13vw;
  z-index:10;
  color: white;
  width: 48vw;
}

.txtinsidetitle{
  font-size: 2vw;
}

.txtinsidebody{
  height: 13.5vw;
  overflow: hidden;
  font-size: 1.5vw;
  text-shadow: 1px 1px 5px rgb(0 0 0 / 70%);
  /* background-color:black; */
  transition: all 0.5s;
}

.txtbodyanime{
  /* animation: txtbodyheight 1s linear forwards; */
  height: 20vw;
  background-color: rgb(34, 34, 34);
  border-radius: 2vw;
}

.txtbodyanimereverse div{
  /* animation:txtbodyheight 1s linear forwards; */
  height: 13.5vw;
}

/* @keyframes txtbodyheight {
  from {
    height: 13.5vw;
  }
  to {
    height: 100%;
  }
}

@keyframes txtbodyheightreverse {
  from {
    height: 100%;
  }
  to {
    height: 13.5vw;
  }
} */


.txtmorebtnbox{
  margin: 1vw 0;
}

.txtclosebtnbox{
  margin: 1vw 0vw;
}


.body_img{
    width: 180vw;
    position: absolute;
    bottom:24%;
    left:-70%;
    padding-top: 56%;
    transform:  rotate(-8deg);
    overflow: hidden;
}

.body_slideimg{
    position: absolute;
    width: 100vw;
    top:-11%;
    left: 41.6%;
    transform:rotate(8deg);
}




/* 4.1.2.3左、中、右分部分调整 */
.leftimg{
    width: 100%;
    position: absolute;
    /* background-color: red; */
    transition: all 0.8s;
}

.midimg{
    width: 100%;
    position: absolute;
    /* background-color: aqua; */
    transition: all 0.8s;
}

.rightimg{
    position: absolute;
    /* background-color:orange; */
    transition: all 0.8s;
}


.leftimg_moveup{
    width: 100%;
}

.leftimg_moveup img{
    width: 100%;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
}



.midimg_movedown{
    width: 100%;
    height:97.88vw;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
}
.midimg_movedown img{
    display: block;
    width: 100%;
    /* height: auto; */
    padding-left: 2%;
    padding-right: 2%;
}



.rightimg_moveup{
    width: 100%;
}
.rightimg_moveup>li>img{
    width: 100%;
    height: auto;
    padding-left: 1%;
    padding-right: 2%;
}

/* 4.1.2.1story body number样式 */
.a_st_footer{
    position: absolute;
    width: 60vw;
    bottom: 11%;
    left: 39%;
}

.num_nav{
    width: 100%;
    font-size: 2em;
    text-align: center;
    /* line-height: 71px; */
    /* margin: 1%; */
}

.Item{
    margin: 0.3%;
    padding: 2px;
}

#navItem01{
    background-image: url("/src/assets/images/bs_Nav01.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem02{
    background-image: url("/src/assets/images/bs_Nav02.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem03{
    background-image: url("/src/assets/images/bs_Nav03.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem04{
    background-image: url("/src/assets/images/bs_Nav04.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem05{
    background-image: url("/src/assets/images/bs_Nav05.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem06{
    background-image: url("/src/assets/images/bs_Nav06.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem07{
    background-image: url("/src/assets/images/bs_Nav07.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem08{
    background-image: url("/src/assets/images/bs_Nav08.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem09{
    background-image: url("/src/assets/images/bs_Nav09.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem10{
    background-image: url("/src/assets/images/bs_Nav10.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem11{
    background-image: url("/src/assets/images/bs_Nav11.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem12{
    background-image: url("/src/assets/images/bs_Nav12.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem13{
    background-image: url("/src/assets/images/bs_Nav13.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem14{
    background-image: url("/src/assets/images/bs_Nav14.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem15{
    background-image: url("/src/assets/images/bs_Nav15.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem16{
    background-image: url("/src/assets/images/bs_Nav16.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem17{
    background-image: url("/src/assets/images/bs_Nav17.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem18{
    background-image: url("/src/assets/images/bs_Nav18.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem19{
    background-image: url("/src/assets/images/bs_Nav19.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem20{
    background-image: url("/src/assets/images/bs_Nav20.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem21{
    background-image: url("/src/assets/images/bs_Nav21.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem22{
    background-image: url("/src/assets/images/bs_Nav22.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem23{
    background-image: url("/src/assets/images/bs_Nav23.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem24{
    background-image: url("/src/assets/images/bs_Nav24.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#navItem25{
    background-image: url("/src/assets/images/bs_NavSP.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
}
























  /* 4.2characters总体样式 */

  .a_characters{
    width: 100vw;
    overflow: hidden;
    /* background-color: rgb(177, 115, 126); */
  }


  /* 4.2.1 title样式 */
  .a_charas_title{
    width: 100%;
    padding: 8% 0 8%;
    background-color: purple;
  }

  .a_c_img{
    width: 100%;
    padding-top:12%;
    background-image: url("/src/assets/images/characters.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }


































/* 4.2.4 cast部分样式 */
.a_cast{
    width: 100vw;
  }

  .acast_title{
    width: 100%;
    padding: 8% 0 6% ;
    /* background-color: aqua; */
  }

  /* cast title部分样式 */
  .title_cast{
    width: 100%;
    padding-top: 11%;
    background-image: url("/src/assets/images/cast.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  /* cast body样式部分 */
  .acast_body{
    width: 100%;
    height: 36vw;
    /* background-color: rgb(128,12,42); */
    font-family: 'notoserif', serif, sans-serif;
    color: #fff;
  }

  .acast_body span{
    display: inline-block;
  }

  .acastbody_row1{
    position: relative;
    flex-direction: column;
    /* background-color: #fff; */
  }

  .acastbody_row2{
    flex-direction: column;
    /* background-color: rgb(25, 15, 15); */
  }

  .acast_name11{
    position: absolute;
    left: -2vw;
    top: 0vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name12{
    position: absolute;
    left: -2vw;
    top: 6vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name13{
    position: absolute;
    left: -2vw;
    top: 12vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name14{
    position: absolute;
    left: -2vw;
    top: 18vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name15{
    position: absolute;
    left: -2vw;
    top: 24vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  /* 预留空位 */
  /* .acast_name16{
    position: absolute;
    left: -2vw;
    top: 30vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  } */


  .acast_name21{
    position: absolute;
    left: 0vw;
    top: 0vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name22{
    position: absolute;
    left: -1vw;
    top: 6vw;
    width: 106%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name23{
    position: absolute;
    left: 0vw;
    top: 12vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name24{
    position: absolute;
    left: 0vw;
    top: 18vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .acast_name25{
    position: absolute;
    left: 0vw;
    top: 24vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  /* 预留空位 */
  /* .acast_name26{
    position: absolute;
    left: 0vw;
    top: 30vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  } */




  .acastname11_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname11_mid{
    font-size: 3vw;
  }
  .acastname11_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }




  .acastname12_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname12_mid{
    font-size: 3vw;
  }
  .acastname12_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }



  
  .acastname13_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname13_mid{
    font-size: 3vw;
  }
  .acastname13_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }




  .acastname14_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname14_mid{
    font-size: 3vw;
  }
  .acastname14_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }




  .acastname15_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname15_mid{
    font-size: 3vw;
  }
  .acastname15_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }


  /* 预留空位 */
  /* .acastname16_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname16_mid{
    font-size: 3vw;
  }
  .acastname16_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  } */



  .acastname21_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname21_mid{
    font-size: 3vw;
  }
  .acastname21_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  } 
  
  
  
  
  .acastname22_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname22_mid{
    font-size: 3vw;
  }
  .acastname22_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }




  .acastname23_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname23_mid{
    font-size: 3vw;
  }
  .acastname23_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  } 




  .acastname24_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname24_mid{
    font-size: 3vw;
  }
  .acastname24_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  } 
  



  .acastname25_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname25_mid{
    font-size: 3vw;
  }
  .acastname25_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  } 
  
  

  /* 预留空位 */
  /* .acastname26_left{
    position: absolute;
    right: 52%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .acastname26_mid{
    font-size: 3vw;
  }
  .acastname26_right{
    position: absolute;
    left: 53%;
    top: 26%;
    font-size: 1.8vw;
    margin-left: 0.5vw;
  }  */
  
  







  /* 4.2.5 staff部分样式 */
  .a_staff{
    width: 100vw;
  }

  .astaff_title{
    width: 100%;
    padding: 8% 0 6% ;
    /* background-color: aqua; */
  }

  /* staff title部分样式 */
  .title_staff{
    width: 100%;
    padding-top: 11%;
    background-image: url("/src/assets/images/staff.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  /* staff body样式部分 */
  .astaff_body{
    width: 100%;
    height: 75vw;
    /* background-color: rgb(128,12,42); */
    font-family: 'notoserif', serif, sans-serif;
    color: #fff;
  }


  .astaffbody_row1{
    position: relative;
    flex-direction: column;
    /* background-color: rgb(7, 184, 116); */
  }

  .astaffbody_row2{
    flex-direction: column;
    /* background-color: rgb(25, 15, 15); */
  }




  .astaff_name11{
    position: absolute;
    left: -15vw;
    top: 0vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name12{
    position: absolute;
    left: -15vw;
    top: 6vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name13{
    position: absolute;
    left: -15vw;
    top: 12vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name14{
    position: absolute;
    left: -15vw;
    top: 18vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name15{
    position: absolute;
    left: -15vw;
    top: 24vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name16{
    position: absolute;
    left: -15vw;
    top: 30vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name17{
    position: absolute;
    left: -15vw;
    top: 36vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name18{
    position: absolute;
    left: -15vw;
    top: 42vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name19{
    position: absolute;
    left: -15vw;
    top: 48vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }
  /* 保留空位 */
  /* .astaff_name110{
    position: absolute;
    left: -11vw;
    top: 54vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  } */

  .astaff_name111{
    position: absolute;
    left: -15vw;
    top: 60vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }






  .astaff_name21{
    position: absolute;
    left: -5.5vw;
    top: 0vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name22{
    position: absolute;
    left: -5.5vw;
    top: 6vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name23{
    position: absolute;
    left: -5.5vw;
    top: 12vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name24{
    position: absolute;
    left: -5.5vw;
    top: 18vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name25{
    position: absolute;
    left: -5.5vw;
    top: 24vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name26{
    position: absolute;
    left: -5.5vw;
    top: 30vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name27{
    position: absolute;
    left: -5.5vw;
    top: 36vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name28{
    position: absolute;
    left: -5.5vw;
    top: 42vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }

  .astaff_name29{
    position: absolute;
    left: -5.5vw;
    top: 48vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }
  /* 保留空位 */
  /* .astaff_name210{
    position: absolute;
    left: -7.5vw;
    top: 54vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  } */

  .astaff_name211{
    position: absolute;
    left: -5.5vw;
    top: 60vw;
    width: 150%;
    height: 5vw;
    justify-content: center;
    align-items: center;
  }








  .astaffname11_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname11_mid{
    font-size: 3vw;
  }
  .astaffname11_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname12_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname12_mid{
    font-size: 3vw;
  }
  .astaffname12_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }



  
  .astaffname13_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname13_mid{
    font-size: 3vw;
  }
  .astaffname13_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname14_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname14_mid{
    font-size: 3vw;
  }
  .astaffname14_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname15_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname15_mid{
    font-size: 3vw;
  }
  .astaffname15_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }


  .astaffname16_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname16_mid{
    font-size: 3vw;
  }
  .astaffname16_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname17_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname17_mid{
    font-size: 3vw;
  }
  .astaffname17_right{
    position: absolute;
    left: 51%;
    top: 15%;
    font-size: 1.5vw;
    margin-left: 0.5vw;
  }



  .astaffname18_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname18_mid{
    font-size: 3vw;
  }
  .astaffname18_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname19_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname19_mid{
    font-size: 3vw;
  }
  .astaffname19_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }



  /* 保留空位 */
  /* .astaffname110_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname110_mid{
    font-size: 3vw;
  }
  .astaffname110_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  } */





  .astaffname111_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname111_mid{
    font-size: 3vw;
  }
  .astaffname111_right{
    position: absolute;
    left: 51%;
    top: 12%;
    font-size: 1.5vw;
    margin-left: 0.5vw;
  }




  





  .astaffname21_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname21_mid{
    font-size: 3vw;
  }
  .astaffname21_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname22_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname22_mid{
    font-size: 3vw;
  }
  .astaffname22_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }



  
  .astaffname23_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname23_mid{
    font-size: 3vw;
  }
  .astaffname23_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname24_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname24_mid{
    font-size: 3vw;
  }
  .astaffname24_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname25_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname25_mid{
    font-size: 3vw;
  }
  .astaffname25_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }


  .astaffname26_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname26_mid{
    font-size: 3vw;
  }
  .astaffname26_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname27_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname27_mid{
    font-size: 3vw;
  }
  .astaffname27_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }



  .astaffname28_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname28_mid{
    font-size: 3vw;
  }
  .astaffname28_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }




  .astaffname29_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname29_mid{
    font-size: 3vw;
  }
  .astaffname29_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  }



  /* 保留空位 */
  /* .astaffname210_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname210_mid{
    font-size: 3vw;
  }
  .astaffname210_right{
    position: absolute;
    left: 51%;
    top: 27%;
    font-size: 1.7vw;
    margin-left: 0.5vw;
  } */





  .astaffname211_left{
    position: absolute;
    right: 51%;
    top: 35%;
    font-size: 1.35vw;
    margin-right: 1vw;
  }
  .astaffname211_mid{
    font-size: 3vw;
  }
  .astaffname211_right{
    position: absolute;
    left: 51%;
    top: 12%;
    font-size: 1.5vw;
    margin-left: 0.5vw;
  }